a {
    color: #11999E;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

a:hover{
   color:#EAF6F6;
}

body {
    margin: 0px;
    color:#40514E;
    text-align: center;
    font-family: "Merriweather", serif;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

h1 {
    margin: 30px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: strong;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999E;
    font-weight: strong;
}

h4 {
    font-family: "Montserrat", sans-serif;
    color:#EAF6F6;
    font-weight: strong;
    font-size: 0.75rem;
    padding-top: 20px;
}

hr {
    border-style: dotted none none;
    border-color: #EAF6F6;
    border-width: 8px;
    width: 5%;
    margin: 100px auto;
}

p {
    line-height: 2;
    font-size: 1rem;
    margin: 0;
}

.footer-link{
    color: #11999E;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;

}

span {
    text-decoration: underline;
}

.intro{
    width:40%;
    margin:auto;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    border: 0;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color:#66BFBF;
    padding: 35px 0 20px;

}

.end{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding:7px 0;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 350px;
}

.top-cloud {
    position: absolute;
    display: block;
    top: 25px;
    right: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.development {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.language {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.earth-image {
    width: 25%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.font-credits {
    font-size: 0.75rem;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}